#popup:checked ~ .popup {
  display: block;
}

#next-items:checked ~ .popup__next-list {
  display: block;
}

#next-items:checked{
  display: none;
}

.nav__list{
  display: flex;
  list-style: none;
  justify-content: flex-end;
}

.popup{
  display: none;
  position: absolute;
  right: 0px;
  border: 2px solid red;
  width: 320px;
}

.popup__list{
  padding-left: 0;
  list-style: none;
}

.popup__list{
  display: flex;
  flex-wrap: wrap;
  flex-basis: 300px;
}

.popup__item{
  display: block;
  width: 100px;
}

.popup__showmore{
  display: block;
  text-align: center;
}

.popup__next-list{
  display: none;
}